{
    "no-results": "true",
    "val-timeout": 3600,
    "files": [
        "stub.c",
        "../src/libsodium/sodium/core.c",
        "../src/libsodium/sodium/runtime.c",
        "../src/libsodium/randombytes/randombytes.c",
        "../src/libsodium/sodium/utils.c",
        "../src/libsodium/randombytes/sysrandom/randombytes_sysrandom.c",
        "../src/libsodium/crypto_pwhash/argon2/argon2-core.c",
        "../src/libsodium/crypto_generichash/blake2b/ref/generichash_blake2b.c",
        "../src/libsodium/crypto_generichash/blake2b/ref/blake2b-ref.c",
        "../src/libsodium/crypto_onetimeauth/poly1305/onetimeauth_poly1305.c",
        "../src/libsodium/crypto_scalarmult/curve25519/scalarmult_curve25519.c",
        "../src/libsodium/crypto_stream/chacha20/stream_chacha20.c",
        "../src/libsodium/crypto_stream/salsa20/stream_salsa20.c"
    ],
    "filesystem": {
        "files": [
            { "name": "./xchacha20.exp", "from": "../test/default/xchacha20.exp" },
            { "name": "./verify1.exp", "from": "../test/default/verify1.exp" },
            { "name": "./stream4.exp", "from": "../test/default/stream4.exp" },
            { "name": "./stream3.exp", "from": "../test/default/stream3.exp" },
            { "name": "./stream2.exp", "from": "../test/default/stream2.exp" },
            { "name": "./stream.exp", "from": "../test/default/stream.exp" },
            { "name": "./sodium_version.exp", "from": "../test/default/sodium_version.exp" },
            { "name": "./sodium_utils3.exp", "from": "../test/default/sodium_utils3.exp" },
            { "name": "./sodium_utils2.exp", "from": "../test/default/sodium_utils2.exp" },
            { "name": "./sodium_utils.exp", "from": "../test/default/sodium_utils.exp" },
            { "name": "./sodium_core.exp", "from": "../test/default/sodium_core.exp" },
            { "name": "./siphashx24.exp", "from": "../test/default/siphashx24.exp" },
            { "name": "./sign.exp", "from": "../test/default/sign.exp" },
            { "name": "./shorthash.exp", "from": "../test/default/shorthash.exp" },
            { "name": "./secretstream_xchacha20poly1305.exp", "from": "../test/default/secretstream_xchacha20poly1305.exp" },
            { "name": "./secretbox_easy2.exp", "from": "../test/default/secretbox_easy2.exp" },
            { "name": "./secretbox_easy.exp", "from": "../test/default/secretbox_easy.exp" },
            { "name": "./secretbox8.exp", "from": "../test/default/secretbox8.exp" },
            { "name": "./secretbox7.exp", "from": "../test/default/secretbox7.exp" },
            { "name": "./secretbox2.exp", "from": "../test/default/secretbox2.exp" },
            { "name": "./secretbox.exp", "from": "../test/default/secretbox.exp" },
            { "name": "./scalarmult_ristretto255.exp", "from": "../test/default/scalarmult_ristretto255.exp" },
            { "name": "./scalarmult_ed25519.exp", "from": "../test/default/scalarmult_ed25519.exp" },
            { "name": "./scalarmult8.exp", "from": "../test/default/scalarmult8.exp" },
            { "name": "./scalarmult7.exp", "from": "../test/default/scalarmult7.exp" },
            { "name": "./scalarmult6.exp", "from": "../test/default/scalarmult6.exp" },
            { "name": "./scalarmult5.exp", "from": "../test/default/scalarmult5.exp" },
            { "name": "./scalarmult2.exp", "from": "../test/default/scalarmult2.exp" },
            { "name": "./scalarmult.exp", "from": "../test/default/scalarmult.exp" },
            { "name": "./randombytes.exp", "from": "../test/default/randombytes.exp" },
            { "name": "./pwhash_scrypt_ll.exp", "from": "../test/default/pwhash_scrypt_ll.exp" },
            { "name": "./pwhash_scrypt.exp", "from": "../test/default/pwhash_scrypt.exp" },
            { "name": "./pwhash_argon2id.exp", "from": "../test/default/pwhash_argon2id.exp" },
            { "name": "./pwhash_argon2i.exp","from": "../test/default/pwhash_argon2i.exp" },
            { "name": "./misuse.exp", "from": "../test/default/misuse.exp" },
            { "name": "./onetimeauth7.exp", "from": "../test/default/onetimeauth7.exp" },
            { "name": "./onetimeauth2.exp", "from": "../test/default/onetimeauth2.exp" },
            { "name": "./onetimeauth.exp", "from": "../test/default/onetimeauth.exp" },
            { "name": "./metamorphic.exp", "from": "../test/default/metamorphic.exp" },
            { "name": "./kx.exp", "from": "../test/default/kx.exp" },
            { "name": "./keygen.exp", "from": "../test/default/keygen.exp" },
            { "name": "./kdf.exp", "from": "../test/default/kdf.exp" },
            { "name": "./hash3.exp", "from": "../test/default/hash3.exp" },
            { "name": "./hash.exp", "from": "../test/default/hash.exp" },
            { "name": "./generichash3.exp", "from": "../test/default/generichash3.exp" },
            { "name": "./generichash2.exp", "from": "../test/default/generichash2.exp" },
            { "name": "./generichash.exp", "from": "../test/default/generichash.exp" },
            { "name": "./ed25519_convert.exp", "from": "../test/default/ed25519_convert.exp" },
            { "name": "./core_ristretto255.exp", "from": "../test/default/core_ristretto255.exp" },
            { "name": "./core_ed25519.exp", "from": "../test/default/core_ed25519.exp" },
            { "name": "./core6.exp", "from": "../test/default/core6.exp" },
            { "name": "./core5.exp", "from": "../test/default/core5.exp" },
            { "name": "./core4.exp", "from": "../test/default/core4.exp" },
            { "name": "./core3.exp", "from": "../test/default/core3.exp" },
            { "name": "./core2.exp", "from": "../test/default/core2.exp" },
            { "name": "./core1.exp", "from": "../test/default/core1.exp" },
            { "name": "./codecs.exp", "from": "../test/default/codecs.exp" },
            { "name": "./chacha20.exp", "from": "../test/default/chacha20.exp" },
            { "name": "./box_seed.exp", "from": "../test/default/box_seed.exp" },
            { "name": "./box_seal.exp", "from": "../test/default/box_seal.exp" },
            { "name": "./box_easy2.exp", "from": "../test/default/box_easy2.exp" },
            { "name": "./box_easy.exp", "from": "../test/default/box_easy.exp" },
            { "name": "./box8.exp", "from": "../test/default/box8.exp" },
            { "name": "./box7.exp", "from": "../test/default/box7.exp" },
            { "name": "./box2.exp", "from": "../test/default/box2.exp" },
            { "name": "./box.exp", "from": "../test/default/box.exp" },
            { "name": "./auth7.exp", "from": "../test/default/auth7.exp" },
            { "name": "./auth6.exp", "from": "../test/default/auth6.exp" },
            { "name": "./auth5.exp", "from": "../test/default/auth5.exp" },
            { "name": "./auth3.exp", "from": "../test/default/auth3.exp" },
            { "name": "./auth2.exp", "from": "../test/default/auth2.exp" },
            { "name": "./auth.exp", "from": "../test/default/auth.exp" },
            { "name": "./aead_xchacha20poly1305.exp", "from": "../test/default/aead_xchacha20poly1305.exp" },
            { "name": "./aead_chacha20poly13052.exp", "from": "../test/default/aead_chacha20poly13052.exp" },
            { "name": "./aead_chacha20poly1305.exp", "from": "../test/default/aead_chacha20poly1305.exp" },
            { "name": "./aead_aes256gcm2.exp", "from": "../test/default/aead_aes256gcm2.exp" },
            { "name": "./aead_aes256gcm.exp", "from": "../test/default/aead_aes256gcm.exp" }
        ]
    }
}
