{
    "machdep": "gcc_x86_64",
    "address-alignment": 64,
    "compilation_cmd": "-I. -Isodium -I../src/libsodium/include -I../src/libsodium/include/sodium -I../test/quirks -D'getrandom(B, S, F)=tis_getrandom(B, S, F)' -D__TIS_MKFS_PREALLOCATE -Dvolatile= -DHAVE_GETRANDOM -DCONFIGURED -DDEV_MODE=1 -DNO_BLOCKING_RANDOM_POLL -UHAVE_EXPLICIT_BZERO -UHAVE_INLINE_ASM"
}