*.cmake
*.dSYM
*.la
*.lo
*.log
*.o
*.s
*.scan
*.status
*.tar.*
*~
.DS_Store
.deps
.done
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.*
configure
depcomp
install-sh
libltdl
libtool
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/*.html
man/Makefile.in
missing
src/libsodium/include/sodium/version.h
stamp-*
testing
