*.cmake
*.dSYM
*.la
*.lo
*.log
*.o
*.s
*.scan
*.status
*.tar.*
*~
.DS_Store
.deps
.done
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build
compile
confdefs.h
config.*
configure
depcomp
install-sh
libltdl
libtool
ltmain.sh
m4/argz.m4
m4/libtool.m4
m4/ltdl.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
man/*.html
man/Makefile.in
missing
src/libsodium/include/sodium/version.h
stamp-*
testing
test/*.res
test/*.trs
test/auth
test/auth2
test/auth3
test/auth5
test/box
test/box2
test/box7
test/box8
test/core1
test/core2
test/core3
test/core4
test/core5
test/core6
test/hash
test/hash3
test/onetimeauth
test/onetimeauth2
test/onetimeauth7
test/randombytes
test/scalarmult
test/scalarmult2
test/scalarmult5
test/scalarmult6
test/secretbox
test/secretbox2
test/secretbox7
test/secretbox8
test/shorthash
test/stream
test/stream2
test/stream3
test/stream4
