[
    {
        "name": "aead_aes256gcm - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_aes256gcm.c"
        ]
    },
    {
        "name": "aead_aes256gcm2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_aes256gcm2.c"
        ]
    },
    {
        "name": "aead_chacha20poly1305 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_chacha20poly1305.c"
        ]
    },
    {
        "name": "aead_chacha20poly13052 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_chacha20poly13052.c"
        ]
    },
    {
        "name": "aead_xchacha20poly1305 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_xchacha20poly1305.c"
        ]
    },
    {
        "name": "auth - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth.c"
        ]
    },
    {
        "name": "auth2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth2.c"
        ]
    },
    {
        "name": "auth3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth3.c"
        ]
    },
    {
        "name": "auth5 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth5.c"
        ]
    },
    {
        "name": "auth6 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth6.c"
        ]
    },
    {
        "name": "auth7 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth7.c"
        ]
    },
    {
        "name": "box - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box.c"
        ]
    },
    {
        "name": "box2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box2.c"
        ]
    },
    {
        "name": "box7 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box7.c"
        ]
    },
    {
        "name": "box8 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box8.c"
        ]
    },
    {
        "name": "box_easy - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_easy.c"
        ]
    },
    {
        "name": "box_easy2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_easy2.c"
        ]
    },
    {
        "name": "box_seal - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_seal.c"
        ]
    },
    {
        "name": "box_seed - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_seed.c"
        ]
    },
    {
        "name": "chacha20 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/chacha20.c"
        ]
    },
    {
        "name": "codecs - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/codecs.c"
        ]
    },
    {
        "name": "core1 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core1.c"
        ]
    },
    {
        "name": "core2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core2.c"
        ]
    },
    {
        "name": "core4 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core4.c"
        ]
    },
    {
        "name": "core5 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core5.c"
        ]
    },
    {
        "name": "core6 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core6.c"
        ]
    },
    {
        "name": "ed25519_convert (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/ed25519_convert.c"
        ]
    },
    {
        "name": "generichash - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/generichash.c"
        ]
    },
    {
        "name": "generichash2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/generichash2.c"
        ]
    },
    {
        "name": "generichash3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/generichash3.c"
        ]
    },
    {
        "name": "hash - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/hash.c"
        ]
    },
    {
        "name": "hash3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/hash3.c"
        ]
    },
    {
        "name": "kdf - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/kdf.c"
        ]
    },
    {
        "name": "keygen - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/keygen.c"
        ]
    },
    {
        "name": "kx - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/kx.c"
        ]
    },
    {
        "name": "metamorphic (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/metamorphic.c"
        ]
    },
    {
        "name": "misuse - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/misuse.c"
        ]
    },
    {
        "name": "onetimeauth - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/onetimeauth.c"
        ]
    },
    {
        "name": "onetimeauth2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/onetimeauth2.c"
        ]
    },
    {
        "name": "onetimeauth7 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/onetimeauth7.c"
        ]
    },
    {
        "name": "scalarmult - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult.c"
        ]
    },
    {
        "name": "scalarmult2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult2.c"
        ]
    },
    {
        "name": "scalarmult5 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult5.c"
        ]
    },
    {
        "name": "scalarmult6 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult6.c"
        ]
    },
    {
        "name": "scalarmult7 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult7.c"
        ]
    },
    {
        "name": "secretbox - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox.c"
        ]
    },
    {
        "name": "secretbox2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox2.c"
        ]
    },
    {
        "name": "secretbox_easy - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox_easy.c"
        ]
    },
    {
        "name": "secretbox_easy2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox_easy2.c"
        ]
    },
    {
        "name": "secretstream_xchacha20poly1305 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretstream_xchacha20poly1305.c"
        ]
    },
    {
        "name": "shorthash - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/shorthash.c"
        ]
    },
    {
        "name": "sodium_core - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/sodium_core.c"
        ]
    },
    {
        "name": "sodium_version - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/sodium_version.c"
        ]
    },
    {
        "name": "stream3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/stream3.c"
        ]
    },
    {
        "name": "stream4 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/stream4.c"
        ]
    },
    {
        "name": "verify1 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/verify1.c"
        ]
    }
]