[
    {
        "name": "aead_aes256gcm - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_aes256gcm.c",
            "src/libsodium/crypto_aead/aes256gcm/aesni/aead_aes256gcm_aesni.c"
        ]
    },
    {
        "name": "aead_aes256gcm2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_aes256gcm2.c",
            "src/libsodium/crypto_aead/aes256gcm/aesni/aead_aes256gcm_aesni.c"
        ]
    },
    {
        "name": "aead_chacha20poly1305 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_chacha20poly1305.c",
            "src/libsodium/crypto_aead/chacha20poly1305/sodium/aead_chacha20poly1305.c",
            "src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "aead_chacha20poly13052 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_chacha20poly13052.c",
            "src/libsodium/sodium/codecs.c",
            "src/libsodium/crypto_aead/chacha20poly1305/sodium/aead_chacha20poly1305.c",
            "src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "aead_xchacha20poly1305 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/aead_xchacha20poly1305.c",
            "src/libsodium/crypto_aead/xchacha20poly1305/sodium/aead_xchacha20poly1305.c",
            "src/libsodium/crypto_core/hchacha20/core_hchacha20.c",
            "src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "auth - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth.c",
            "src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c",
            "src/libsodium/crypto_auth/crypto_auth.c",
            "src/libsodium/crypto_auth/hmacsha512256/auth_hmacsha512256.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c",
            "src/libsodium/crypto_auth/hmacsha256/auth_hmacsha256.c",
            "src/libsodium/crypto_hash/sha256/cp/hash_sha256_cp.c"
        ]
    },
    {
        "name": "auth2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth2.c",
            "src/libsodium/crypto_auth/hmacsha256/auth_hmacsha256.c",
            "src/libsodium/crypto_hash/sha256/cp/hash_sha256_cp.c"
        ]
    },
    {
        "name": "auth3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth3.c",
            "src/libsodium/crypto_auth/hmacsha256/auth_hmacsha256.c",
            "src/libsodium/crypto_hash/sha256/cp/hash_sha256_cp.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "auth5 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth5.c",
            "src/libsodium/crypto_auth/crypto_auth.c",
            "src/libsodium/crypto_auth/hmacsha512256/auth_hmacsha512256.c",
            "src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "auth6 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth6.c",
            "src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c"
        ]
    },
    {
        "name": "auth7 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/auth7.c",
            "src/libsodium/crypto_auth/crypto_auth.c",
            "src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "box - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "box2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box2.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "box7 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box7.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "box8 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box8.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "box_easy - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_easy.c",
            "src/libsodium/crypto_box/crypto_box_easy.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox_easy.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "box_easy2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_easy2.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_box/crypto_box_easy.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox_easy.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "box_seal - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_seal.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/crypto_box/crypto_box_seal.c",
            "src/libsodium/crypto_generichash/crypto_generichash.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c",
            "src/libsodium/crypto_box/crypto_box_easy.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox_easy.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c",
            "src/libsodium/crypto_box/curve25519xchacha20poly1305/box_curve25519xchacha20poly1305.c",
            "src/libsodium/crypto_box/curve25519xchacha20poly1305/box_seal_curve25519xchacha20poly1305.c",
            "src/libsodium/crypto_core/hchacha20/core_hchacha20.c",
            "src/libsodium/crypto_secretbox/xchacha20poly1305/secretbox_xchacha20poly1305.c",
            "src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c"
        ]
    },
    {
        "name": "box_seed - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_seed.c",
            "src/libsodium/crypto_box/crypto_box.c",
            "src/libsodium/crypto_box/curve25519xsalsa20poly1305/box_curve25519xsalsa20poly1305.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c"
        ]
    },
    {
        "name": "chacha20 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/chacha20.c",
            "src/libsodium/sodium/codecs.c",
            "src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c"
        ]
    },
    {
        "name": "codecs - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/codecs.c",
            "src/libsodium/sodium/codecs.c"
        ]
    },
    {
        "name": "core1 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core1.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_core/hsalsa20/core_hsalsa20.c"
        ]
    },
    {
        "name": "core2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core2.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c"
        ]
    },
    {
        "name": "core4 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core4.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c"
        ]
    },
    {
        "name": "core5 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core5.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c"
        ]
    },
    {
        "name": "core6 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/core6.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c"
        ]
    },
    {
        "name": "ed25519_convert (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/ed25519_convert.c",
            "src/libsodium/crypto_sign/ed25519/ref10/keypair.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/sodium/codecs.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c"
        ]
    },
    {
        "name": "generichash - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/generichash.c",
            "src/libsodium/sodium/codecs.c",
            "src/libsodium/crypto_generichash/crypto_generichash.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c",
            "src/libsodium/crypto_generichash/blake2b/generichash_blake2.c"
        ]
    },
    {
        "name": "generichash2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/generichash2.c",
            "src/libsodium/crypto_generichash/crypto_generichash.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c"
        ]
    },
    {
        "name": "generichash3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/generichash3.c",
            "src/libsodium/crypto_generichash/blake2b/generichash_blake2.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c"
        ]
    },
    {
        "name": "hash - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/hash.c",
            "src/libsodium/crypto_hash/crypto_hash.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c",
            "src/libsodium/crypto_hash/sha256/cp/hash_sha256_cp.c",
            "src/libsodium/crypto_hash/sha256/hash_sha256.c",
            "src/libsodium/crypto_hash/sha512/hash_sha512.c"
        ]
    },
    {
        "name": "hash3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/hash3.c",
            "src/libsodium/crypto_hash/crypto_hash.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c"
        ]
    },
    {
        "name": "kdf - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/kdf.c",
            "src/libsodium/crypto_kdf/crypto_kdf.c",
            "src/libsodium/crypto_kdf/blake2b/kdf_blake2b.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c",
            "src/libsodium/sodium/codecs.c"
        ]
    },
    {
        "name": "keygen - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/keygen.c",
            "src/libsodium/crypto_auth/crypto_auth.c",
            "src/libsodium/crypto_auth/hmacsha256/auth_hmacsha256.c",
            "src/libsodium/crypto_aead/aes256gcm/aesni/aead_aes256gcm_aesni.c",
            "src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c",
            "src/libsodium/crypto_auth/hmacsha512256/auth_hmacsha512256.c",
            "src/libsodium/crypto_generichash/crypto_generichash.c",
            "src/libsodium/crypto_generichash/blake2b/generichash_blake2.c",
            "src/libsodium/crypto_kdf/crypto_kdf.c",
            "src/libsodium/crypto_onetimeauth/crypto_onetimeauth.c",
            "src/libsodium/crypto_aead/chacha20poly1305/sodium/aead_chacha20poly1305.c",
            "src/libsodium/crypto_aead/xchacha20poly1305/sodium/aead_xchacha20poly1305.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox.c",
            "src/libsodium/crypto_secretstream/xchacha20poly1305/secretstream_xchacha20poly1305.c",
            "src/libsodium/crypto_shorthash/crypto_shorthash.c",
            "src/libsodium/crypto_stream/crypto_stream.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c"
        ]
    },
    {
        "name": "kx - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/kx.c",
            "src/libsodium/crypto_kx/crypto_kx.c",
            "src/libsodium/crypto_generichash/crypto_generichash.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c",
            "src/libsodium/crypto_scalarmult/crypto_scalarmult.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/sodium/codecs.c"
        ]
    },
    {
        "name": "metamorphic (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/metamorphic.c",
            "src/libsodium/crypto_generichash/crypto_generichash.c",
            "src/libsodium/crypto_generichash/blake2b/ref/blake2b-compress-ref.c",
            "src/libsodium/crypto_onetimeauth/crypto_onetimeauth.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_auth/hmacsha256/auth_hmacsha256.c",
            "src/libsodium/crypto_hash/sha256/cp/hash_sha256_cp.c",
            "src/libsodium/crypto_auth/hmacsha512/auth_hmacsha512.c",
            "src/libsodium/crypto_hash/sha512/cp/hash_sha512_cp.c"
        ]
    },
    {
        "name": "misuse - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/misuse.c"
        ]
    },
    {
        "name": "onetimeauth - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/onetimeauth.c",
            "src/libsodium/crypto_onetimeauth/crypto_onetimeauth.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c"
        ]
    },
    {
        "name": "onetimeauth2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/onetimeauth2.c",
            "src/libsodium/crypto_onetimeauth/crypto_onetimeauth.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "onetimeauth7 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/onetimeauth7.c",
            "src/libsodium/crypto_onetimeauth/crypto_onetimeauth*.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "scalarmult - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult.c",
            "src/libsodium/crypto_scalarmult/crypto_scalarmult.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/sodium/codecs.c"
        ]
    },
    {
        "name": "scalarmult2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult2.c",
            "src/libsodium/crypto_scalarmult/crypto_scalarmult.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/sodium/codecs.c"
        ]
    },
    {
        "name": "scalarmult5 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult5.c",
            "src/libsodium/crypto_scalarmult/crypto_scalarmult.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c",
            "src/libsodium/sodium/codecs.c"
        ]
    },
    {
        "name": "scalarmult6 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult6.c",
            "src/libsodium/crypto_scalarmult/crypto_scalarmult.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c"
        ]
    },
    {
        "name": "scalarmult7 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/scalarmult7.c",
            "src/libsodium/crypto_scalarmult/curve25519/ref10/x25519_ref10.c",
            "src/libsodium/crypto_core/ed25519/ref10/ed25519_ref10.c"
        ]
    },
    {
        "name": "secretbox - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "secretbox2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox2.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox.c",
            "src/libsodium/crypto_secretbox/xsalsa20poly1305/secretbox_xsalsa20poly1305.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_verify/sodium/verify.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "secretbox_easy - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox_easy.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox_easy.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "secretbox_easy2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox_easy2.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox.c",
            "src/libsodium/crypto_secretbox/crypto_secretbox_easy.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    },
    {
        "name": "secretstream_xchacha20poly1305 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretstream_xchacha20poly1305.c",
            "src/libsodium/crypto_secretstream/xchacha20poly1305/secretstream_xchacha20poly1305.c",
            "src/libsodium/crypto_core/hchacha20/core_hchacha20.c",
            "src/libsodium/crypto_stream/chacha20/ref/chacha20_ref.c",
            "src/libsodium/crypto_onetimeauth/poly1305/donna/poly1305_donna.c"
        ]
    },
    {
        "name": "shorthash - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/shorthash.c",
            "src/libsodium/crypto_shorthash/crypto_shorthash.c",
            "src/libsodium/crypto_shorthash/siphash24/ref/shorthash_siphash24_ref.c",
            "src/libsodium/crypto_shorthash/siphash24/shorthash_siphash24.c"
        ]
    },
    {
        "name": "sodium_core - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/sodium_core.c"
        ]
    },
    {
        "name": "sodium_version - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/sodium_version.c",
            "src/libsodium/sodium/version.c"
        ]
    },
    {
        "name": "stream3 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/stream3.c",
            "src/libsodium/crypto_stream/crypto_stream.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "stream4 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/stream4.c",
            "src/libsodium/crypto_stream/crypto_stream.c",
            "src/libsodium/crypto_stream/xsalsa20/stream_xsalsa20.c",
            "src/libsodium/crypto_core/hsalsa20/ref2/core_hsalsa20_ref2.c",
            "src/libsodium/crypto_core/salsa/ref/core_salsa_ref.c",
            "src/libsodium/crypto_stream/salsa20/ref/salsa20_ref.c"
        ]
    },
    {
        "name": "verify1 (short) - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/verify1.c",
            "src/libsodium/crypto_verify/sodium/verify.c"
        ]
    }
]
