<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="libsodium_vc120" target="libsodium" namespace="libsodium12" version = "0.4.5.2" pathversion="0_4_5_2" platformtoolset="v120" />